#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.popover-card-item {
    cursor: pointer;
}

.popover-card-item:hover {
    background-color: #1c1c1c;
}

.manual-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.manual-button:hover {
    border-color: #646cff;
}

.manual-button:focus,
.manual-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #fff200aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
  .logo:hover {
    animation: logo-spin infinite 0.1s linear;
  }
}